<launch>
  <arg name="cmd_vel" default="/cmd_vel"/>
  <arg name="name" default="turtlebot3"/>

  <param name="cmd_vel_topic_name" value="$(arg cmd_vel)"/>

  <node name="$(arg name)_obstacle_avoidance" pkg="turtlebot_avoid_obstacle" type="turtlebot3_obstacle_avoidance" required="true" output="screen"/>
</launch>
